.App {
  text-align: center;
  font-family: Arial, sans-serif;
}


.hero {
  background-color: #282c34;
  padding: 50px;
  color: white;
}

.hero h1 {
  font-size: 2.5em;
}

.key-problems, .key-metrics, .reviews, .problem-target, .cta {
  padding: 50px 20px;
}

h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.cta button {
  background-color: #61dafb;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1em;
  cursor: pointer;
}

.cta button:hover {
  background-color: #21a1f1;
}

.footer {
  background-color: #282c34;
  color: white;
  padding: 20px;
}

@media (max-width: 768px) {
  .hero h1, h2 {
    font-size: 1.5em;
  }

  .cta button {
    padding: 10px 20px;
    font-size: 0.8em;
  }
}
.hero-image-wrapper{
  float: right;
}